@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

html{
    box-sizing: border-box;
}
*,::after,::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}
*{
    font-family: 'Caveat', cursive;
}


/* Game */
.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}
.game__fields{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid blue;
}
.game__field{
    background-color: red;
    border: 1px solid blue;

    /* background-image: url("../images/animal1.png"); */
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}