@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

html{
    box-sizing: border-box;
}
*,::after,::before{
    box-sizing: inherit;
}

*{
    font-family: 'Caveat', cursive;
    cursor: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    position: relative;
    background-color: black;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}


/* Game */
.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 70px;
    user-select: none;
    color: white;
}
.game__fieldContainer{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid blue;
}
.game__field{
    background-color: black;
    border: 1px solid blue;

    
    width: 100%;
    height: 100%;
    position: relative;
}
.game__animal, .block__top, .block__bottom{
    position: absolute;
    width: inherit;
    height: inherit;
}
.game__animal{
    z-index: 9;
    object-fit: contain;
    width: 20%;
    height: 20%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 4;
    pointer-events: none;
}
.game__block{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.block__top{
    z-index: 3;
}
.block__bottom{
    z-index: 5;
    /* z-index: 3; */
}


@keyframes animalFadeIn {
    0%{
        width: 20%;
        height: 20%;
        top: 100%;
        transform: translate(-50%, -100%);
    }
    100%{
        width: 70%;
        height: 70%;
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@keyframes animalFadeOut {
    0%{
        width: 70%;
        height: 70%;
        top: 5%;
        transform: translate(-50%, 0);
    }
    100%{
        width: 20%;
        height: 20%;
        top: 100%;
        transform: translate(-50%, -100%);
    }
}


/* Game Info */
.game__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 500;
}
.game__progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}
.progress__container{
    width: 125px;
    height: 30px;
    position: relative;
}
.progress__bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.progress__bar.progressGreen{
    background-color: #51d951;
    width: 0%;
    z-index: 5;
}
.progress__bar.progressRed{
    background-color: #ff4747;
    z-index: 3;
}

.game__reach{
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}

/* Cursors */
/* .cursors{
    display: flex;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: rotate(20deg);
}
.circleCursorBx{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circleCursor{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hammerCursor{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

.game__cursors{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}
.cursor__circleBx{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
    display: none;
}
.circle__inner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: translate(-50%, -50%);
    transition: width 300ms ease-in-out, height 300ms ease-in-out;
    z-index: 99999999999999999;
}
.circle__outer{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    border: 1px solid white;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: translate(-50%, -50%);
    transition: opacity 300ms ease-in-out;
    z-index: 99999999999999999;
}
.circle__inner.circleHoverActive{
    width: 56px;
    height: 56px;
}
.circle__inner.circleHoverActive.circleSmall{
    width: 30px;
    height: 30px;
}
.circle__inner.circleHoverActive ~ .circle__outer{
    opacity: 0;
}

.cursor__hammerBx{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999999999999999;

    display: none;
}
.cursor__hammer{
    width: 100%;
    height: 100%;
    transform: rotate(20deg);
    transform-origin: right top;
}

.game__cursors.circleActive .cursor__circleBx{
    display: block;
}
.game__cursors.hammerActive .cursor__hammerBx{
    display: block;
}


/* WELCOME SECTION */
.welcome{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    overflow: hidden;
}

.welcomeBack, .welcomeInitial{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 300;
}

.welcome.initialActive .welcomeInitial{
    display: grid;
}
.welcome.backActive .welcomeBack{
    display: flex;
}

.welcomeContainer{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-inline: 100px;
    padding-block: 94px 114px;
    transform: translateX(100%);
    background-color: black;
}
.welcome .welcomeContainer:nth-of-type(1){
    transform: translateX(0);
    z-index: 110;
}
.welcome .welcomeContainer:nth-of-type(2){
    z-index: 109;
}
.welcome .welcomeContainer:nth-of-type(3){
    z-index: 108;
}
.welcome .welcomeContainer:nth-of-type(4){
    z-index: 107;
}
.welcome .welcomeContainer:nth-of-type(5){
    z-index: 106;
}
.welcome .welcomeContainer:nth-of-type(6){
    z-index: 105;
}
.welcome .welcomeContainer:nth-of-type(7){
    z-index: 104;
}
.welcome .welcomeContainer:nth-of-type(8){
    z-index: 103;
}
.welcome .welcomeContainer:nth-of-type(9){
    z-index: 102;
}


body.helpActive .welcome .welcomeContainer:nth-of-type(1),
body.helpActive .welcome .welcomeContainer:nth-of-type(2){
    display: none;
}
body.helpActive .welcome .welcomeContainer:nth-of-type(3){
    transform: translateX(0);
}

.welcomeTextBx{
    margin-top: auto;
    text-align: center;
}
.welcomeTitle{
    font-size: 68px;
    font-weight: 700;
    margin-block: 0px 20px;
}
.welcomeContainer.welcomeName .welcomeTitle{
    margin-block: 20px 40px;
}
.welcomeDesc{
    font-size: 34px;
    font-weight: 400;
}
.welcomeAnimalBx .welcomeDesc{
    font-size: 32px;
    text-align: right;
}
.welcomeNextBtn{
    align-self: flex-end;
    margin-top: auto;
    background-color: black;
    border: 2px solid white;
    outline: none;
    color: white;
    padding: 10px 28px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 13px;
}
.welcomeNameInput{
    background-color: black;
    border: 2px solid white;
    color: white;
    outline: none;
    font-size: 26px;
    width: 300px;
    padding: 12px 20px;
    transition: border-color 150ms ease-in-out;
}
.welcomeNameInput.nameInputErr{
    border-color: red;
}
.welcomeInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
}
.welcomeAnimalImg{
    height: 350px;
}

.welcomeBack{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.welcomeBackTitle{
    font-size: 70px;
    text-align: center;
}
.welcomeBackBtn{
    background-color: black;
    border: 2px solid white;
    outline: none;
    color: white;
    padding: 10px 28px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 13px;
    margin-top: 50px;
}

@keyframes welcomeSlideIn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes welcomeSlideOut {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Preload Cover */
.preloadCover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

/* Home Section */
.home{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    z-index: 200;
    display: flex;
    flex-direction: column;
    padding: 40px 68px 36px 68px;

    display: none;
}

body.activeHome .home{
    display: flex;
}

.home__setting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 24px;
}
.setting__name{
    font-size: 34px;
}
.setting__icon{
    width: 52px;
    transition: transform 200ms ease-in-out;
}
.setting__icon:hover{
    transform: rotate(180deg) scale(1.1);
}
.home__shop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    margin-top: 16px;
}
.shop__hunterBx{
    display: flex;
    position: relative;
}
.shopHunter__name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.66);
    font-size: 28px;
    padding: 9px 20px;
    border-radius: 11px;
}
.shopHunter__img{
    width: 260px;
}
.shop__btnBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.homeShop__text{
    font-size: 34px;
}
.shop__btn{
    outline: none;
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: 600;
    padding: 8px 18px;
    border-radius: 10px;
    border: 2px solid black;
    transition: border-color 225ms ease-in-out, background-color 225ms ease-in-out, color 225ms ease-in-out;
}
.shop__btn:hover{
    border-color: white;
    background-color: black;
    color: white;
}
.home__stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    margin-top: 78px;
}
.stat__level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px 36px;
}
.stat__text{
    font-size: 28px;
}
.stat__name{
    font-size: 20px;
    text-transform: capitalize;
    border-top: 1px dashed white;
    padding-top: 12px;
    margin-top: 12px;
}
.home__battle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
}
.battle__btn{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 12px;
    font-size: 36px;
    padding: 13px 32px;
    transition: border-color 225ms ease-in-out, background-color 225ms ease-in-out, color 225ms ease-in-out;
}
.battle__btn:hover{
    border-color: white;
    background-color: black;
    color: white;   
}
.home__help{
    margin-top: auto;
}
.help__icon{
    width: 62px;
    transition: transform 200ms ease-in-out;
}
.help__icon:hover{
    transform: rotate(360deg) scale(1.15);
}



/* SHOP Section */
.shop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 180;
    padding: 48px 60px;

    display: none;
}

body.activeShop .shop{
    display: block;
}

.shop__menu{
    display: flex;
}
.shop__leave{
    width: 44px;
    transition: transform 200ms ease-in-out;
}
.shop__leave:hover{
    transform: rotate(8deg) scale(1.15);
}
.shop__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shop__title{
    font-size: 60px;
}
.shop__desc{
    font-size: 29px;
    max-width: 1040px;
    margin-top: 20px;
    text-align: center;
}
.shop__res{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.res__text{
    font-size: 28px;
}
.res__xp{
    text-decoration: underline wavy white 2px;
    text-underline-offset: 8px;
}
.shop__hunterContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 40px;
    margin-top: 38px;
    max-width: 1500px;
    margin-inline: auto;
}
.shop__hunter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 38px;
}
.hunter__imageBx{
    display: flex;
}
.hunter__image{
    width: 250px;
    object-fit: contain;
}
.hunter__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hunter__name{
    font-size: 36px;
    margin-bottom: 10px;
}
.hunter__desc{
    font-size: 23px;
    line-height: 1.1;
}
.hunter__infoBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 26px;
}
.hunter__abil{
    position: relative;
    margin-right: 22px;
    padding-right: 10px;
}
.hunter__abil::before{
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 65%;
    background-color: white;
}
.hunter__cost{
    text-transform: uppercase;
}
.hunter__btn{
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 26px;
    padding: 10px 26px;
    margin-top: 15px;
    transition: background-color 225ms ease-in-out, color 225ms ease-in-out, border-color 225ms ease-in-out;
}
.hunter__btn:hover{
    background-color: white !important;
    color: black !important;
    border-color: white !important;
}

.shop__hunter.hunterRed .hunter__cost{
    color: #ff4747;
}
.shop__hunter.hunterRed .hunter__btn{
    border-color: #ff4747;
    color: #ff4747;
}
.shop__hunter.hunterRed .hunter__btn:hover{
    background-color: black !important;
    border-color: #ff4747 !important;
    color: #ff4747 !important;
}
.shop__hunter.hunterGreen .hunter__cost{
    color: #51d951;
}
.shop__hunter.hunterGreen .hunter__btn{
    border-color: #51d951;
    color: #51d951;
}