@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

html{
    box-sizing: border-box;
}
*,::after,::before{
    box-sizing: inherit;
}

*{
    font-family: 'Caveat', cursive;
    cursor: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    position: relative;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}


/* Game */
.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 70px;
    user-select: none;
}
.game__fieldContainer{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid blue;
}
.game__field{
    background-color: black;
    border: 1px solid blue;

    
    width: 100%;
    height: 100%;
    position: relative;
}
.game__animal, .block__top, .block__bottom{
    position: absolute;
    width: inherit;
    height: inherit;
}
.game__animal{
    z-index: 9;
    object-fit: contain;
    width: 20%;
    height: 20%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 4;
    pointer-events: none;
}
.game__block{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.block__top{
    z-index: 3;
}
.block__bottom{
    z-index: 5;
    /* z-index: 3; */
}


@keyframes animalFadeIn {
    0%{
        width: 20%;
        height: 20%;
        top: 100%;
        transform: translate(-50%, -100%);
    }
    100%{
        width: 70%;
        height: 70%;
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@keyframes animalFadeOut {
    0%{
        width: 70%;
        height: 70%;
        top: 5%;
        transform: translate(-50%, 0);
    }
    100%{
        width: 20%;
        height: 20%;
        top: 100%;
        transform: translate(-50%, -100%);
    }
}


/* Game Info */
.game__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 500;
}
.game__progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}
.progress__container{
    width: 125px;
    height: 30px;
    position: relative;
}
.progress__bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.progress__bar.progressGreen{
    background-color: green;
    width: 0%;
    z-index: 5;
}
.progress__bar.progressRed{
    background-color: red;
    z-index: 3;
}

.game__reach{
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}


/* START SECTION */
.start{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 10;
}
.start__btn{
    font-size: 40px;
    border: black;
    padding: 18px 50px;
    font-weight: 600;
}

/* Game Active class */
body.gameActive .start{
    display: none;
}

/* Cursors */
/* .cursors{
    display: flex;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: rotate(20deg);
}
.circleCursorBx{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circleCursor{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hammerCursor{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

.game__cursors{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}
.cursor__circleBx{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
    display: none;
}
.circle__inner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: translate(-50%, -50%);
    transition: width 300ms ease-in-out, height 300ms ease-in-out;
    z-index: 99999999999999999;
}
.circle__outer{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    border: 1px solid white;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: translate(-50%, -50%);
    transition: opacity 300ms ease-in-out;
    z-index: 99999999999999999;
}
.circle__inner.circleHoverActive{
    width: 56px;
    height: 56px;
}
.circle__inner.circleHoverActive ~ .circle__outer{
    opacity: 0;
}

.cursor__hammerBx{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999999999999999;

    display: none;
}
.cursor__hammer{
    width: 100%;
    height: 100%;
    transform: rotate(20deg);
    transform-origin: right top;
}

.game__cursors.circleActive .cursor__circleBx{
    display: block;
}
.game__cursors.hammerActive .cursor__hammerBx{
    display: block;
}


/* WELCOME SECTION */
.welcome{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    overflow: hidden;
}
.welcomeContainer{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-inline: 100px;
    padding-block: 94px 114px;
    z-index: 100;
}
.welcome .welcomeContainer:nth-of-type(1){
    z-index: 110;
}
.welcome .welcomeContainer:nth-of-type(2){
    z-index: 109;
}
.welcome .welcomeContainer:nth-of-type(3){
    z-index: 108;
}
.welcome .welcomeContainer:nth-of-type(4){
    z-index: 107;
}
.welcome .welcomeContainer:nth-of-type(5){
    z-index: 106;
}
.welcome .welcomeContainer:nth-of-type(6){
    z-index: 105;
}
.welcome .welcomeContainer:nth-of-type(7){
    z-index: 104;
}
.welcome .welcomeContainer:nth-of-type(8){
    z-index: 103;
}
.welcome .welcomeContainer:nth-of-type(9){
    z-index: 102;
}

.welcomeTextBx{
    margin-top: auto;
    text-align: center;
}
.welcomeTitle{
    font-size: 68px;
    font-weight: 700;
    margin-block: 0px 20px;
}
.welcomeContainer.welcomeName .welcomeTitle{
    margin-block: 20px 40px;
}
.welcomeDesc{
    font-size: 34px;
    font-weight: 400;
}
.welcomeAnimalBx .welcomeDesc{
    font-size: 32px;
    text-align: right;
}
.welcomeNextBtn{
    align-self: flex-end;
    margin-top: auto;
    background-color: black;
    border: 2px solid white;
    outline: none;
    color: white;
    padding: 10px 28px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 13px;
}
.welcomeNameInput{
    background-color: black;
    border: 2px solid white;
    color: white;
    outline: none;
    font-size: 26px;
    width: 300px;
    padding: 12px 20px;
    transition: border-color 150ms ease-in-out;
}
.welcomeNameInput.nameInputErr{
    border-color: red;
}
.welcomeInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
}
.welcomeAnimalImg{
    height: 350px;
}

@keyframes welcomeSlideIn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes welcomeSlideOut {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}